.ht-blog {
  &-area-3 {
    background: $theme-color-5;
  }
  &-item {
    border: 1px solid $border-color;
    border-radius: 20px;
    overflow: hidden;

    &.v2 {
      background: $theme-color-5;
    }
    &:hover {
      .ht-blog-thumb img {
        transform: scale(1.1);
      }
    }
  }

  &-thumb {
    overflow: hidden;

    img {
      transform: scale(1);
      @include imgw;
      border-radius: 20px 20px 0 0;
      @include transition;
    }
  }

  &-content {
    padding: 10px 24px 24px;

    .title {
      margin-top: 10px;
      &:hover {
        color: $theme-color-2;
      }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 20px;
      }
    }

    .ht-link {
      margin-top: 32px;
      display: inline-block;
      font-size: 16px;
      font-family: $heading-font;
      font-weight: 600;
      line-height: 125%;
      color: $theme-color-2;
      text-transform: uppercase;
      text-decoration: underline;

      &-2 {
        margin-top: 20px;
      }

      &:hover {
        color: $theme-color;
      }
    }
  }

  &-contents {
    .ht-btn {
      margin-top: 6px;

      @include breakpoint(max-md) {
        margin-top: 30px;
      }
    }
  }

  &-meta {
    @include flex-center;
    gap: 30px;

    li {
      font-size: 16px;
      line-height: 26px;
      position: relative;

      &:not(:last-child)::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 10px;
        background: $theme-color;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
      }
    }

    &-2 {
      margin: 10px 0 5px;

      @include breakpoint(max-xl) {
        flex-wrap: wrap;
        gap: 10px;
      }

      @include breakpoint(max-md) {
        gap: 20px;
      }

      .ct {
        padding: 5px 12px;
        border-radius: 4px;
        background: $theme-color-3;
        display: inline-block;

        &:not(:last-child)::after {
          width: 8px;
          height: 8px;
          border-radius: 100px;
          right: -19px;
          @include breakpoint(max-md) {
            right: -14px;
          }
        }
      }
    }
  }
}

.ht-blog-item-wrapper {
  .single-item {
    background: $white;
    border-radius: 20px;
    @include flex-center;
    gap: 24px;
    overflow: hidden;

    @include breakpoint(max-xl) {
      gap: 16px;
    }

    @include breakpoint(max-xs) {
      flex-wrap: wrap;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:hover {
      .thumb img {
        transform: scale(1.1);
      }
    }

    .thumb {
      overflow: hidden;

      @include breakpoint(max-xs) {
        width: 100%;
      }

      img {
        transform: scale(1);
        border-radius: 20px 0 0 20px;
        @include imgw;
        @include transition;

        @include breakpoint(max-xs) {
          border-radius: 20px 20px 0 0;
        }
      }
    }

    .content {
      @include breakpoint(max-xl) {
        padding-right: 10px;
      }

      @include breakpoint(max-xs) {
        padding: 20px;
      }

      .meta {
        font-size: 16px;
      }

      h3 {
        &:hover {
          color: $theme-color-2;
        }

        @include breakpoint(max-xl) {
          font-size: 26px;

          br {
            display: none;
          }
        }

        @include breakpoint(max-lg) {
          br {
            display: block;
          }
        }
      }

      .link {
        margin-top: 9px;
        display: inline-block;
        color: $theme-color-2;
        font-size: 16px;
        font-family: $heading-font;
        font-weight: 600;
        letter-spacing: -0.32px;
        text-transform: uppercase;
        text-decoration: underline;

        &:hover {
          color: $theme-color;
        }
      }
    }
  }
}

// blog list area

.ht-blog-list-area {
  .blog-list-wrapper {
    margin-right: 20px;

    @include breakpoint(max-lg) {
      margin-right: 0;
    }

    .blog-list-item {
      margin-bottom: 60px;

      .thumb {
        overflow: hidden;
        border-radius: 18px;
        img {
          display: block;
          @include imgw;
          transform: scale(1);
          @include transition;
        }
      }

      .content {
        .blog-meta {
          margin: 15px 0;
          @include flex-center;
          gap: 25px;

          @include breakpoint(max-xs) {
            flex-wrap: wrap;
            gap: 10px;
          }

          .single-meta {
            @include flex-center;
            gap: 5px;

            span {
              font-size: 16px;
            }
          }
        }

        .title {
          margin-bottom: 20px;

          &:hover {
            color: $theme-color-2;
          }
        }

        .ht-btn {
          margin-top: 35px;
        }
      }

      &:hover {
        .thumb {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

// blog details area

.ht-blog-details-wrapper {
  margin-right: 20px;

  @include breakpoint(max-lg) {
    margin-right: 0;
  }

  .blog-single-post {
    .thumb {
      overflow: hidden;
      border-radius: 18px;
      img {
        display: block;
        @include imgw;
        transform: scale(1);
        @include transition;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .content {
      .blog-meta {
        margin: 15px 0;
        @include flex-center;
        gap: 25px;

        @include breakpoint(max-xs) {
          flex-wrap: wrap;
          gap: 10px;
        }

        .single-meta {
          @include flex-center;
          gap: 5px;

          span {
            font-size: 16px;
          }
        }
      }

      .title {
        margin-bottom: 20px;
      }
    }
  }

  .qoute {
    padding: 30px;
    border-radius: 20px;
    background: $theme-color-5;
    margin: 40px 0;
    @include flex-center;
    gap: 24px;

    @include breakpoint(max-md){
      flex-wrap: wrap;
    }
  }

  .details-img {
    overflow: hidden;
    border-radius: 20px;

    &:not(:last-child){
      margin-bottom: 20px
    }

    img {
      @include imgw;
      display: block;
      transform: scale(1);
      @include transition;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .tag-social {
    margin: 50px 0 30px;
    @include flex-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding-bottom: 20px;

    @include breakpoint(max-md){
      flex-wrap: wrap;
      gap: 20px
    }

    .tag {
      @include flex-center;
      gap: 10px;

      .taglink {
        margin-right: 10px;
        a {
          &:hover {
            color: $theme-color-2;
          }
        }
      }
    }

    .social {
      @include flex-center;
      gap: 10px;

      .social-list {
        @include flex-center;

        li {
          margin-right: 8px;
          width: 34px;
          height: 34px;
          @include flex;
          border: 1px solid $theme-color;
          border-radius: 100px;
          @include transition;
          cursor: pointer;
          & a {
            color: $theme-color;
          }
          &:hover {
            background: $theme-color-2;
            border-color: $theme-color-2;

            a {
              color: $white;
            }
          }
        }
      }
    }
  }

  .details-arrrow-btn {
    @include flex-between;
    align-items: center;

    span {
      font-family: $heading-font;
      font-weight: 600;
      cursor: pointer;
      @include transition;

      &:hover {
        color: $theme-color-2;
      }
    }
  }

  .blog-details-author {
    margin: 60px 0;
    @include flex-center;
    gap: 25px;

    @include breakpoint(max-xl){
      flex-wrap: wrap;
    }

    .thumb {
      border-radius: 10px;
      overflow: hidden;

      img {
        display: block;
        transform: scale(1);
        @include transition;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .content {
      max-width: 580px;

      @include breakpoint(max-xs) {
        max-width: 100%;
      }

      h3 {
        margin-bottom: 20px;
      }

      p {
        @include breakpoint(max-xs){
          font-size: 16px;
        }
      }
    }
  }

  .blog-comment-area {
    .comment-wrapper {
      .single-comment {
        display: flex;
        gap: 24px;

        @include breakpoint(max-xs){
          flex-wrap: wrap;
        }

        &:not(:last-child){
          margin-bottom: 40px;
        }

        &:nth-child(2){
          margin-left: 120px;

          @include breakpoint(max-lg){
            margin-left: 0;
          }
        }

        .thumb {  
          img {
            display: block;
            border-radius: 10px;
          }
        }

        .content {
          max-width: 720px;

          h5 {
            margin: 15px 0 5px;
          }

          .dt {
            font-size: 16px;
          }

          .reply {
            color: $theme-color-2;
          }
        }
      }
    }
  }

  .comment-form-wrap {
    margin-top: 60px;

    .ht-contact-wrapper {
    margin-top: 30px;

    input {
      width: 100%;
      border: none;
      outline: none;
      background: $white;
      padding: 15px;
      border-radius: 6px;
      margin-bottom: 24px;
      border: 1px solid rgba(38, 38, 38, 0.1);

      &::placeholder {
        color: $theme-color;
      }

    }
    textarea {
      width: 100%;
      height: 190px;
      border: none;
      outline: none;
      background: $white;
      padding: 15px;
      border-radius: 6px;
      border: 1px solid rgba(38, 38, 38, 0.1);

      &::placeholder {
        color: $theme-color;
      }
    }

    .ht-btn {
      margin-top: 40px;
    }
  }
  }
}

// sidebar area

.ht-sidebar-area {
  .single-widget {
    background: $theme-color-5;
    border-radius: 12px;
    padding: 30px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .widget-title {
      margin-bottom: 20px;
    }

    .search-box {
      position: relative;
      z-index: 1;

      input {
        width: 100%;
        padding: 20px 20px 20px 50px;
        border: 1px solid $border-color;
        border-radius: 6px;
        color: $theme-color;

        &::placeholder {
          color: $theme-color;
        }

        &:focus {
          border-color: $theme-color;
        }
      }

      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;

        i {
          color: $theme-color-2;
        }
      }
    }

    .recent-post {
      display: flex;
      gap: 24px;

      @include breakpoint(max-xl) {
        flex-wrap: wrap;
      }

      @include breakpoint(max-lg) {
        flex-wrap: nowrap;
      }

      @include breakpoint(max-xs) {
        flex-wrap: wrap;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;
      }

      .thumb {
        overflow: hidden;
        border-radius: 10px;

        img {
          display: block;
          width: 100px;
          height: 100px;
          transform: scale(1);
          @include transition;
        }
      }
      .content {
        max-width: 230px;

        @include breakpoint(max-lg) {
          max-width: 100%;
        }

        .title {
          letter-spacing: -0.4px;
          margin-bottom: 5px;

          &:hover {
            color: $theme-color-2;
          }
        }

        span {
          color: $theme-color-2;
        }
      }

      &:hover {
        .thumb {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    .service-list {
      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        a {
          @include flex-between;
          align-items: center;
          padding: 10px 15px;
          border: 1px solid $border-color;
          border-radius: 6px;
          color: $theme-color;
          @include transition;

          i {
            font-size: 16px;
          }

          &:hover {
            background: $theme-color-2;
            color: $white;
            border-color: transparent;
          }
        }
      }
    }

    .tags-list {
      display: inline-block;

      a {
        border-right: 1px solid $theme-color;
        margin-right: 5px;
        padding-right: 7px;
        font-weight: 500;
        @include transition;

        @include breakpoint(max-xs) {
          font-size: 16px;
        }

        &:hover {
          color: $theme-color-2;
        }

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
