.ht-contact-info-area {
  .contact-info-item {
    background: $theme-color-5;
    padding: 30px 40px;
    border-radius: 20px;

    .icon {
      width: 80px;
      height: 80px;
      background: rgba(247, 87, 9, 0.1);
      @include flex;
      border-radius: 6px;
      @include transition;
    }

    span {
      display: block;
      margin: 60px 0 10px;
      font-family: $body-font;
      font-weight: 500;
    }

    &:hover {
      .icon {
        background: $theme-color-2;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.ht-contact-form-area {
  background: $theme-color-5;
  .ht-contact-wrapper {
    margin-top: 60px;

    input {
      width: 100%;
      border: none;
      outline: none;
      background: $white;
      padding: 15px;
      border-radius: 6px;
      margin-bottom: 24px;
      border: 1px solid transparent;

      &::placeholder {
        color: #595959;
      }

      &:focus {
        color: $theme-color;
        border: 1px solid $border-color;
      }
    }
    textarea {
      width: 100%;
      height: 190px;
      border: none;
      outline: none;
      background: $white;
      padding: 15px;
      border-radius: 6px;
      border: 1px solid transparent;

      &::placeholder {
        color: #595959;
      }

      &:focus {
        color: $theme-color;
        border: 1px solid $border-color;
      }
    }

    .ht-btn {
      margin-top: 40px;
    }
  }
}

.ht-map-area {
  iframe {
    width: 100%;
    height: 700px;
    display: block;

    @include breakpoint(max-xl) {
      height: 600px;
    }

    @include breakpoint(max-lg) {
      height: 500px;
    }

    @include breakpoint(max-xs) {
      height: 400px;
    }
  }
}
