.ht-error-page-area{
    .error-content {
        text-align: center;

        .err-img {
            height: 250px;
            img {
                @include imgw;
            }
        }
        p {
            padding: 30px 0 40px;
            max-width: 560px;
            margin: auto;

            @include breakpoint(max-md){
                max-width: 100%;
            }

            @include breakpoint(max-xs){
                font-size: 15px;
            }
        }
    }
}