.ht-process {
  &-area {
    background: $theme-color;
    position: relative;
    z-index: 9;

    &.inner-two {
      background-color: $theme-color-5;
    }
  }

  &-shape {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    z-index: -1;
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      width: 370px;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      width: 350px;
    }
    @include breakpoint(max-lg) {
      width: 200px;
    }
    @include breakpoint(max-sm) {
      width: 100px;
    }
    img {
      @include imgw;
    }
  }

  &-wrapper {
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background: $border-color-2;
      top: 47px;
      z-index: -1;

      @include breakpoint(max-lg) {
        display: none;
      }
    }
  }

  &-item {
    text-align: center;
    position: relative;
    z-index: 9;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 110px;
      background: $border-color-2;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;

      @include breakpoint(max-lg) {
        display: none;
      }
    }

    .step {
      display: inline-block;
      background-color: $theme-color-3;
      border-radius: 12px;
      padding: 12px 22px;
      font-family: $heading-font;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: -0.36px;
      text-transform: uppercase;
    }

    .title {
      color: $white;
      margin-top: 105px;

      &:hover {
        color: $theme-color-2;
      }
    }
    p {
      color: $white;
      margin-top: 3px;
    }

    &.two {
      .title {
        color: $theme-color;
        
        &:hover {
          color: $theme-color-2;
        }
      }
      p {
        color: $theme-color;
      }
    }
  }
}

// Process Area 3

.ht-process-wrapper-3 {
  @include breakpoint(max-md) {
    margin-top: 20px;
  }
  .process-item {
    margin-top: 32px;
    text-align: center;

    .step-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -54%;

      @media only screen and (min-width: 1200px) and (max-width: 1400px) {
        right: -62%;
      }
      @include breakpoint(max-xl) {
        right: -15%;

        img {
          width: 60px;
        }
      }
      @include breakpoint(max-lg) {
        display: none;
      }
    }

    .thumb {
      position: relative;

      .circle {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        animation: rotate 20s linear infinite;
      }
      @keyframes rotate {
        0% {
          transform: translateX(-50%) rotate(0deg);
        }
        100% {
          transform: translateX(-50%) rotate(360deg);
        }
      }
      span {
        @include flex;
        width: 44px;
        height: 44px;
        background-color: $theme-color;
        color: $white;
        border-radius: 50%;
        position: relative;
        top: -206px;
        right: -75%;

        @include breakpoint(max-xxs) {
          right: -70%;
        }
      }
    }
    .contents {
      margin-top: 30px;

      p {
        margin-top: 7px;
        font-size: 16px;
      }
    }

    &:hover {
      .thumb {
        span {
          background: $theme-color-3;
          color: $theme-color;
        }
      }
    }
  }
}
