.ht-header-search-bar {
  height: 400px;
  background: $theme-color-5;
  top: -100%;
  right: 0;
  left: 0;
  position: fixed;
  transition: 0.4s;
  z-index: 99999;
  @include transition;
  
  &.open {
    top: 0;
  }
}

.ht-search-form-box {
  & form {
    position: relative;

    & input {
      outline: none;
      background-color: transparent;
      height: 56px;
      width: 100%;
      line-height: 56px;
      font-size: 15px;
      color: $theme-color;
      border: 0;
      border-bottom: 1px solid $border-color;
      text-transform: uppercase;

      &::placeholder {
        color: $theme-color;
        font-weight: 500;
      }
    }
    & button {
      position: absolute;
      top: 13px;
      right: 0;
    }
  }
}

.ht-search-close {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  font-weight: 300;
  color: $theme-color-2;
  text-align: center;
  line-height: 40px;
}
