//>>>>> Section Title Start <<<<<//

.section-title {
  position: relative;
  z-index: 99;
  margin-bottom: 30px;
 
  @include breakpoint(max-md) {
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 16px;
    font-family: $heading-font;
    font-weight: 600;
    color:$theme-color-2;
    line-height: 1;
    display: inline-block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .title {
    text-transform: uppercase;
  }
}

.section-title-area {
  @include flex-between;
  position: relative;
  z-index: 9;

  @include breakpoint(max-lg) {
    flex-wrap: wrap;
    gap: 30px;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    color: $text-color;
    font-style: italic;
    border-left: 1px solid #6a47ed;
    padding-left: 20px;

    &.white-text {
      color: $white;
      border-left: 1px solid $white;
      font-weight: 500;
    }
  }
}

//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
  text-align: center;
  margin: 0 auto;
}

.body-color {
  background-color: $body-color;
}

.green-bg{
  background: $theme-color;
}

.section-padding {
  padding: 130px 0;

  @include breakpoint(max-xl) {
    padding: 100px 0;
  }

  @include breakpoint(max-lg) {
    padding: 80px 0;
  }
}

//>>>>> Basic Css End <<<<<//
