.ht-stats {
  &-area {
    &-2 {
      background: $theme-color;
      position: relative;

      .shape{
        .up{
          position: absolute;
          top: 0;
          left: 0;
        }
        .down{
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  &-wrapper {
    background: $theme-color-5;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoint(max-md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(max-sm) {
      grid-template-columns: 1fr;
    }

    &-2 {
      background: rgba(255, 255, 255, 0.1);
      padding: 45px 30px;
      border-radius: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;

      @include breakpoint(max-lg){
        grid-template-columns: repeat(2,1fr);
      }

      @include breakpoint(max-xs){
        grid-template-columns: 1fr;
      }
    }
  }

  &-items {
    padding: 70px;
    text-align: center;
    position: relative;

    @include breakpoint(xl) {
      padding: 40px;
    }

    @include breakpoint(lg) {
      padding: 30px 12px;
    }

    @include breakpoint(max-md) {
      padding: 30px;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      height: 160px;
      width: 1px;
      background: $border-color;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      @include breakpoint(xl) {
        height: 120px;
      }

      @include breakpoint(lg) {
        height: 120px;
      }

      @include breakpoint(max-md) {
        display: none;
      }
    }

    .number {
      font-size: 80px;
      line-height: 107.5%;
      letter-spacing: -1.6px;
      text-transform: uppercase;
      position: relative;

      &::after {
        position: absolute;
        content: '+';
        color: $theme-color-2;
      }
    }

    h4 {
      margin-top: 12px;
      text-transform: uppercase;
    }
    &-2 {
      position: relative;

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background: rgba(255, 255, 255, 0.3);
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @include breakpoint(max-xl){
              right: -16px;
        }

        @include breakpoint(max-md) {
          display: none;
        }
      }
      .number,
      h4,
      p {
        color: $white;
      }

      h4 {
        margin-top: 13px;
      }
      p {
        margin-top: 5px;
      }
    }
  }
}
