.ht-team {
  &-thumb {
    position: relative;
    overflow: hidden;

    img {
      @include imgw;
      border-radius: 20px;
    }

    .social {
      display: flex;
      gap: 5px;
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%) translateY(20px);
      opacity: 0;
      @include transition;

      a {
        background: $white;
        width: 44px;
        height: 44px;
        border-radius: 12px;
        @include flex;

        &:hover {
          background: $theme-color-2;
          color: $white;
        }
      }
    }
  }

  &-content {
    margin-top: 10px;
    text-align: center;

    &-2 {
      p {
        margin-top: 10px;
      }
    }

    .name {
      text-transform: uppercase;

      &:hover {
        color: $theme-color-2;
      }
    }

    .role {
      line-height: 26px;
    }
  }

  &-items {
    margin-top: 30px;

    &:hover {
      .ht-team-thumb {
        .social {
          transform: translateX(-50%) translateY(0);
          opacity: 1;
        }
      }
    }

    &-wrapper {
      .single-item {
        .thumb {
          position: relative;
          overflow: hidden;
          img {
            border-radius: 18px;
            @include imgw;
          }

          .social-wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -100%;
            overflow: hidden;
            opacity: 0;
            background: $theme-color-2;
            display: inline-block;
            padding: 20px 10px;
            border-radius: 30px 0 0 30px;
            @include transition;

            a {
              width: 40px;
              height: 40px;
              border: 1px solid $white;
              border-radius: 50%;
              @include flex;
              color: $white;

              &:not(:last-child) {
                margin-bottom: 10px;
              }

              &:hover {
                background: $theme-color;
                border-color: transparent;
              }
            }
          }
        }
        .info {
          margin-top: 13px;
          a {
            h4 {
              &:hover {
                color: $theme-color-2;
              }
            }
          }
          p {
            font-size: 18px;
            color: $theme-color-6;
          }
        }

        &:hover {
          .social-wrapper {
            opacity: 1;
            overflow: visible;
            right: 0;
          }
        }
      }
    }
  }
}

// team details area

.team-details-area {
  .team-details-wrapper {
    .team-author-items {
      .thumb {
        img {
          @include imgw;
          border-radius: 20px;
        }
      }
      .content {
        @include breakpoint(max-lg) {
          margin-top: 20px;
        }

        h6 {
          color: $theme-color-2;
          margin-top: 10px;
        }

        p {
          margin: 24px 0 30px;
        }

        .tl {
          display: block;
          margin-bottom: 10px;

          i {
            margin-right: 5px;
          }
        }

        .team-social {
          margin-top: 20px;
          @include flex-center;

          li {
            margin-right: 8px;
            background: $theme-color;
            width: 44px;
            height: 44px;
            @include flex;
            border-radius: 12px;
            @include transition;
            cursor: pointer;
            & a {
              color: $white;
            }
            &:hover {
              background: $theme-color-2;
            }
          }
        }
      }
    }
  }
  .team-details-info-skills {
    .team-about {
      margin-top: 80px;

      @include breakpoint(max-xl) {
        margin-top: 60px;
      }

      h3 {
        margin-bottom: 13px;
      }
      p {
        font-size: 16px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    .team-skills {
      margin-top: 80px;

      @include breakpoint(max-xl) {
        margin-top: 60px;
      }

      h3 {
        margin-bottom: 15px;
      }
      p {
        font-size: 16px;
      }

      .skills {
        margin-top: 25px;
      }

      .skill {
        &:not(:last-child) {
          margin-bottom: 24px;
        }

        .skill-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #1c2539;
          font-size: 20px;
          font-family: $heading-font;
          font-weight: 600;
          position: relative;
          z-index: 1;

          &:not(:last-child) {
            margin-bottom: 8px;
          }
          .percent {
            position: absolute;
            left: 70%;

            &.two {
              left: 80%;
            }

            &.three {
              left: 90%;
            }
          }
        }

        .progress-bar {
          width: 100%;
          height: 14px;
          background: #fff;
          border: 1px solid #e0e0e0;
          border-radius: 50px;
          overflow: hidden;

          .progress {
            height: 100%;
            background: $theme-color-2;
            margin: 2px;
            border-radius: 6px;
            transition: width 1s ease-in-out;
            animation: load 3s normal forwards;

            &.two {
              animation: load2 3s normal forwards;
            }

            &.three {
              animation: load3 3s normal forwards;
            }
          }

          @keyframes load {
            0% {
              width: 0;
            }
            100% {
              width: 70%;
            }
          }

          @keyframes load2 {
            0% {
              width: 0;
            }
            100% {
              width: 80%;
            }
          }

          @keyframes load3 {
            0% {
              width: 0;
            }
            100% {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
